.android,
.ios,
.md,
.wp {
    page-login {
        ion-content {
            .scroll-content {
                justify-content: center;
                display: flex !important;
                align-items: center !important;
            }
            background: linear-gradient(to bottom, rgba(40, 40, 199, 0.877) 0%, white 180%);
        }

        #container {
            width: 100%;
        }

        #inside {
            margin: 10px;
        }

        .inputCss {
            margin: 10px auto 10px auto;
            border: 3px solid rgba(74, 146, 228, 0.986);
            border-radius: 10px;
        }

        .lbtn {
            border-radius: 50px;
            background-color: blue;
        }

        .sbtn {
            border-radius: 50px;
            background-color: rgba(32, 211, 32, 0.863);
        }
    }
}
