.android,.ios,.md,.wp{
    page-login {

        ion-content{
            .scroll-content{
                justify-content: center;
                display: flex!important;
                 align-items: center!important;
            }
            background: linear-gradient(to bottom, rgba(40, 40, 199, 0.877) 0%,white 180%);
           // background-color: blue;
        }

        #container{
            width: 100%;
        }

        #inside{
            //border: thin solid red;
            margin: 10px;
        }

        .inputCss{
            margin: 10px auto 10px auto;
            border: 3px solid rgba(74, 146, 228, 0.986);
            border-radius: 10px;
        }

        .lbtn{
            border-radius: 50px;
           
    //         background-image: linear-gradient( hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
    // hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2));
    // box-shadow:
    // inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
    // inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
    // /* multiple light sources yall */
    // -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    // 5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */

    background-color: blue;
        }

        .sbtn{
            border-radius: 50px;

            
    //         background-image: linear-gradient( hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
    // hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2));
    // box-shadow:
    // inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
    // inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
    // /* multiple light sources yall */
    // -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    // 5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */

            background-color: rgba(32, 211, 32, 0.863);
        }
        

}
}